<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Category</h2>
                  <form action="/admin/add-category/" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Password">Category</label>
                        <input type="text" name="Category_name" id="" class="form-control" placeholder="Enter category">
                    </div>

                    <center><button type="submit" class="btn btn-primary float-center">Create</button></center>
                    
                </form>
        </div>
    </div>
</div>