<div class="container">
    
    <h1 class="mb-5">address</h1>


    {{#each address}}
    <div class="d-flex justify-content-between">
    <div>

    <h3>{{this.name}}</h3>
    <p>{{this.address}}</p>
    </div>

    <div>
        
        <td><a href="/edit-address?id={{this._id}}" class="btn btn-primary">Edit</a></td>

        <td><a href="/delete-address?id={{this._id}}" class="btn btn-danger">Delete</a></td>
    </div>
    </div>
    {{/each}}

    
</div>